
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="text-center">Registration</h2>
<div>
    <form action="" method="post" enctype="multipart/form-data">
        Name<input type="text" name="Name" class="form-control" />
        Date Of Birth<input type="date" name="Date" class="form-control" />
        Mobile Number<input type="number" name="Number" class="form-control" />
        Email<input type="email" name="Email" class="form-control" />
        <input type="submit" value="Register" class="btn btn-primary mt-2"/>
    </form>
</div>

